export RESOURCE_REGION="ap-southeast-3" # service endpoint located region, need to accelerate
export RESOURCE_VPC_NAME="sagemaker-resource-vpc" # set a vpc name for peering
export RESOURCE_SERVICE_NAME="com.amazonaws.$RESOURCE_REGION.sagemaker.runtime" # service endpoint which needs to be accelerated
export RESOURCE_VPC_ENDPOINT_NAME="sagemaker-vpc-endpoint" # set a vpc endpoint name
export EXPOSE_REGION="ap-southeast-1" # client located region
export EXPOSE_VPC_NAME="sagemaker-expose-vpc" # set a vpc name for peering
export AWS_PAGER="" # Don't modify
GREEN='\033[0;32m' # Don't modify
YELLOW='\033[0;33m' # Don't modify
NC='\033[0m' # Don't modify
# --- Appended variables during the build process --- #

